body{
    margin: 0;
}

p{
    font-size: 1.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
    font-weight: 300;
}
#header{
    padding-top: 20px;
    text-align: center;
    background-color: #61A4BC;
    display: flex;
    flex-direction: row;
}

.title{
    position: relative;
    flex-basis: 60%;
}

.title-text{
    padding-left: 70px;
    font-size: 5.3rem;
    color: #F7E2E2;
    width: 60%;
    margin-bottom: 5px;
}

.my-name{
    position: relative;
    left: 150px;
}

.description{
    color: white;
    font-size: 1.5rem;
    position: relative;
    left: -75px;
}

.cloud1, .cloud2{
    position: absolute;
}

.cloud1{
    bottom: 75px;
    right: 50px;
    transform: rotate(180deg);
}

.cloud2{
    top: 20px;
    left: 20px;
}
.mountain-img{
    position: relative;
    bottom: -4px;
}

.nav-title{
    /* display: flex;
    flex-direction: column; */
    flex-basis: 40%;
}

.navbar{
    flex-basis: 15%;
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-container{
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.nav-item{
    flex-basis: 20%;
    list-style: none;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #F7E2E2;
    font-size: 1.5rem;
}

.toggle{
    opacity: 0;
}

@media (max-width: 1183px){
    #header{
        flex-direction: column-reverse;
    }
    .title{
        text-align: center;
        flex-basis: 50%;   
    }
    .nav-title{
        flex-basis: 50%;
    }
    .title-text{
        padding-left: 0;
        width: 100%;
    }
    .my-name{
        left: 0;
    }
    .cloud1{
        bottom: 10px;
    }
    .description{
        left: 0;
    }
    .nav-container{
        flex-direction: column;
        padding-top: 50px;
        position: absolute;
        top: -200px;
        transition: 0.5s;
        z-index: 1;
    }
    .nav-item{
        padding: 5px;
    }
    .toggle{
        position: absolute;
        right: 30px;
        font-size: 2rem;
        color: #F7E2E2;
        z-index: 2;
        opacity: 100;
    }
    .nav-container.show{
        top: -10px;
    }

    .jumbotron{
        padding-top: 20px;
    }
}

#main-content{
    display: flex;
    flex-direction: row;
}
.container{
    flex-basis: 70%;
    text-align: center;
}

.my-skills{
    color: #61A4BC;
    margin: 20px 10px;
}

.sub-title{
   margin-top: 0; 
}

.skill-set{
    display: flex;
    padding: 20px 100px;
}

.skill-set.second{
    flex-direction: row-reverse;
}

.skill-img{
    width: 300px;
    height: 100%;
    margin: 0 30px;
}

.skill-detail{
    text-align: start;
    
}

.skill-desc{
    color: darkslategray;
}
.portofolio{
    text-align: center;
    background-color: #61A4BC;
    color: #F7E2E2;
    padding: 20px;
}

.portofolio-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portofolio-title{
    margin-top: 0;
}
.porto-row{
    display: flex;
    /* flex-basis: 30%; */
    justify-content: center;
    align-items: center;
}
.port-page{
    flex-basis: 30%;
    margin: 20px;   
}
.port-image{
    width: 100%;
    margin: 10px;
    border: 2px solid #F7E2E2;
    border-radius: 5%;
}

.porto-link{
    color: #F7E2E2;
    text-decoration: none;
    font-size: 1.5rem;
}

.profile{
    flex-basis: 30%;
    text-align: center;
    border-left: 1px solid #61A4BC;
    padding: 20px;
    color: #61A4BC;
}

.my-img{
    width: 300px; 
}

.profile-title{
    margin-top: 0;
    
}

.profile-detail{
    color: darkslategray;
}

.skill-star{
    margin: 0 auto;
}

.skill-icon{
    font-size: 3rem;
    margin: 20px;
}

#footer{
    text-align: center;
    padding: 20px;
    background-color: #F7E2E2;
}
.social-message{
    margin: 0;
    margin-bottom: 10px;
    color: #61A4BC;
}

.social{
    font-size: 1.5rem;
    margin: 20px;
    color: #61A4BC;
}

.copyright{
    color: darkslategray;
    font-size: 1rem;
    margin-bottom: 0;
}

.up-btn{
    text-align: center;
    font-size: 3rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #F7E2E2;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #61A4BC;
}
.up-link{
    color: #F7E2E2;

}

@media(max-width:1183px){
    #main-content{
        flex-direction: column-reverse;
    }
    .skill-set{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skill-set.second{
        flex-direction: column;
    }
    .porto-row{
        flex-direction: column;
    }
}